langchain
langchain-groq
faiss-cpu
tiktoken
langchain-community
langchain-openai
chromadb
sentence-transformers
pypdf
python-dotenv
pymupdf
python-docx
docx2txt
unstructured[docx]
accelerate
langchain-classic
huggingface_hub
langchain_huggingface
bitsandbytes
python-dotenv